a { text-decoration: none; color: #D0FFCE }
a:hover { text-decoration: underline }

body { background: black; color: #0F0; font-family: "Courier New", Courier, monospace; font-size: 14px; text-wrap: normal; }

div { display: inline; }

hr { border: 2px solid black; display: block; }

input { background: black; border: 0; color: #0F0; font-family: "Courier New", Courier, monospace; font-size: 14px; margin-top: -1px; outline: none; }

#prompt { margin-right: -6px; }

td.label { padding-right: 30px; }

.old_line { margin-left: -5px; }

.spaced { display: block; margin-top: 15px; }